*{
    margin:0;
    padding:0;
    font-size: 10px;
    font-family: 'Roboto','Noto',sans-serif;
}

body{
    height: 100vh;
    width: 100%;
    background-color: #181818;
}

/*===============================================================
 =================== VIDEOCARDS COMPONENT========================
 ================================================================*/

.main__video__container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.videoCard__container{
    display: flex;
    margin: 0 6px 10px 6px;
    text-decoration: none;
}

.videoCard__container__thumbnail{
    position: relative;
    max-height: 100%;
}
.videoCard__container__thumbnail--img{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.videoCard__container__info{
    display: flex;
    flex-direction: row;
    /* width: 100%; */
}

.videoCard__container__info__miniature{
    position: relative;
    width: auto;
    height: 100%;
}

.videoCard__container__info__miniature--img{
    width: 36px;
    height: 36px;
    margin-top: 12px;
    margin-right: 12px;
}

.videoCard__container__info__miniature--img img{
    width: 100%;
    border-radius: 100%;
}

/* .videoCard__container__info__text--tittle{
    margin: 12px 0 4px 0;
} */

.videoCard__container__info__text--tittle h3{
    font-size: 1.55rem;
    color: #fff;
    line-height: 2.2rem;
    max-height: 4.4rem;
    font-family: Roboto, Arial, sans-serif;
    font-weight: 600;
}

.videoCard__container__info__text--relative_channelName,
.videoCard__container__info__text--relative_viewsAndtime span{
    color: #aaa;
    font-size: 1.3rem;
    font-family: Roboto, Arial, sans-serif;
}

.videoCard__container__info__text--relative_viewsAndtime span:first-child::after{
    content: "•";
    margin: 0 4px;
}

/*===============================================================
 =================== HEADER COMPONENT============================ 
 ================================================================*/

 .header{
     display: flex;
     width: 100%;
     background-color: #202020;
     justify-content: center;
     padding: 15px 0;
     margin-bottom: 25px;
 }

 .header__container{
     background-color: #121212;
     display: flex;
     flex-direction: row;
     width: 35%;
     justify-content: space-between; 
     position: relative;
}

 .header__inputText{
     font-size: 1.6rem;
     font-family: 'Roboto','Noto',sans-serif;
     font-weight: 400;
     line-height: 24px;
     margin-left: 4px;
     max-width: 100%;
     color: #757575;
     background-color: transparent;
     border: none;
     outline: none;
     width: 100%;
     padding: 4px 0;
 }

 .header__btn{
     border: none;
     outline: none;
     background-color: #313131;
     padding: 0 25px;
     cursor: pointer;
     border-radius: 0;
     position: absolute;
     height: 100%;
     right: 0;
 }

 .header__btn i{
    font-size: 1.6rem;
    color: #6F6F6F;
    line-height: 24px;
 }

 /*===============================================================
 =================== Video Player================================= 
 ================================================================*/
 .videoplayer{
     display: flex;
     width: 90%;
     flex-direction: row;
     margin:auto;
 }

.videoplayer__videoAndComments{
    display: flex;
    flex-direction: column;
    width: 74%;
    margin-right: 1.4rem;
}

.videoplayer__videoAndComments--video{
    width: 100%;
    position: relative;
    padding-top: 56%;
    margin-bottom: 4rem;
}

.videoplayer__videoAndComments--video iframe{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.videoplayer__videoAndComments--comments{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.videoplayer__videoAndComments--comments_comment{
    display: flex;
    flex-direction: row;
    margin-bottom: 1.6rem;
}

.videoplayer__videoAndComments--comments_comment-img{
    display: flex;
    width: auto;
}

.videoplayer__videoAndComments--comments_comment-img-container{
    width: 40px;
    height: 40px;
    margin-right: 16px;
}
.videoplayer__videoAndComments--comments_comment-img-container img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.videoplayer__videoAndComments--comments_comment-content{
    display: flex;
    flex-direction: column;
}

.videoplayer__videoAndComments--comments_comment-content-head{
    display: flex;
    flex-direction: row;
    margin-bottom: 0.4rem;
}

.videoplayer__videoAndComments--comments_comment-content-head p{
    font-size: 1.2rem;
    color: #fff;
    font-weight: 600;
    margin-right: 0.4rem;
}

.videoplayer__videoAndComments--comments_comment-content-head span{
    font-size: 1.2rem;
    color: #aaa;     
}

.videoplayer__videoAndComments--comments_comment-content-main{
    margin-bottom: 0.9rem;
}

.videoplayer__videoAndComments--comments_comment-content-main p{
    font-size: 1.4rem;
    color: #fff;
    font-weight: 500;
}

.videoplayer__videoAndComments--comments_comment-content-likes span{
    color: #aaa;   
    font-size: 1.2rem;
    margin-right: 0.8rem;
}
.videoplayer__videoAndComments--comments_comment-content-likes span i{
    font-size: 1.3rem;
    padding: 0.8rem 0.8rem 0.8rem 0;
}

.videoplayer__videoAndComments--comments_comment-content-likes span:nth-child(2) i{
    transform: rotateY(180deg);
    margin-right: 0.8rem;
}

.videoplayer__videoAndComments--comments_comment-content-replies{
    padding: 0.2rem 0 1rem 0;
}

.videoplayer__videoAndComments--comments_comment-content-replies span{
    font-size: 1.3rem;
    color: #3ea6ff;
    font-weight: 600;
}

.videoplayer__videoAndComments--comments_comment-content-replies span i{
    padding: 0.4rem;
    font-size: 1.5rem;
}

.videoplayer__related{
    display: flex;
    flex-direction: column;
    width: 26%;
}